* {
    padding: 0%;

}

.content img {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.slider {
    padding-top: 30px;
}

.row {
    --bs-gutter-x: none;
}

.container-fluid {
    padding: 0 2%;
}

.card {
    border: none;
}